{{ define "main" }}

<img src="/logo.png" alt="Logo" class="logo"/>

{{ if .Content }}
    <div class="index-content">
      {{ .Content }}
    </div>
{{ end }}

<h1>Derniers articles</h1>

<div class="posts-list">
{{ with .Site.GetPage "/posts" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post">
            <p>
                <div class="date">{{ .PublishDate.Format "Jan. 2, 2006" }}</div>
                <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
                {{ .Summary }}
            </p>
        </div>
    {{ end }}
{{ end }}
</div>

<div class="sponsors-section">
  <h1>Commanditaires</h1>

  <div class="sponsors-grid">
  {{ with .Site.GetPage "section" "sponsors" }}
    {{ $sponsorsPage := . }}
    {{ $sizes := slice "x-large" "large" "medium" "small" }}
    {{ range $sizes }}
      {{ $size := . }}
      {{ range where $sponsorsPage.Pages "Params.size" "eq" $size }}
        <a href="{{ .Params.website }}" title="{{ .Title }}">
          <img src="{{ .Params.image }}" alt="{{ .Title }}" class="sponsor-logo {{ .Params.size }}">
        </a>
      {{ end }}
    {{ end }}
  {{ end }}
  </div>
</div>

<p class="see-all">
  <a href="/sponsors/">En savoir plus →</a>
</p>


{{ end }}